@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* Header CSS Starts */
.navbar {
  display: flex;
  justify-content: space-around;
  margin: 50px 200px;
}
.navtitle {
  position: absolute;
  width: 114px;
  height: 34px;
  left: 150px;
  top: 50px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

nav ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  position: stat;
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.btn {
  position: absolute;
  width: 228px;
  height: 58px;
  left: 1046px;
  top: 38px;

  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
}
/* Header CSS Ends  */

/* Hero Section CSS Starts */
#hero {
  width: 1440px;
  height: 652px;
  background-image: url(../assets/Hero-bg.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: absolute;
  width: 998px;
  height: 582px;
  left: 221px;
  right: 221px;
  top: 157px;
  bottom: 4506px;
}

.banner_image {
  width: 173.03px;
  height: 228.9px;
  left: 243.4%;
  right: -215.41%;
  top: 0%;
  bottom: 4.63%;
}

.banner h1 {
  width: 998px;
  height: 136px;

  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0px;
}
.banner p {
  width: 852px;
  height: 52px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.btn-container {
  margin: 32px 0px;
  width: 208px;
  height: 66px;
}
.btn-2 {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  margin: 0px 10px;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}
/* Hero Section CSS Ends */

/* Web Dev CSS Starts */
#web-dev {
  width: 1440px;
  height: 1395px;

  left: 148px;
  right: 152px;
}

.web-dev-content {
  width: 1140px;
  height: 1395px;
  left: 148px;
  right: 152px;
  top: 857px;
  bottom: 2993px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);

  margin: 74px auto;
}

.div1 {
  width: 852px;
  height: 115px;
  margin-bottom: 48px;
}
.h2 {
  margin-bottom: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  width: 852px;
  height: 39px;
}

.p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;

  width: 852px;
  height: 52px;
  margin-bottom: 48px;
}

.div2 {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin-bottom: 32px;
  border-radius: 16px;

  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 477px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}

.content h3 {
  width: 406px;
  height: 72px;
  padding: 0px;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.content p {
  width: 468px;
  height: 52px;
  margin-bottom: 32px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.btn-pric {
  width: 150px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-pri {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  width: 110px;
  height: 24px;
}

.div3 {
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  padding: 48px;
  margin-bottom: 32px;
  width: 946px;
  height: 336px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div4 {
  padding: 48px;
  margin-bottom: 32px;
  width: 946px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Web Dev CSS Ends */

/* Inspiration Section Starts */
#inspiration {
  width: 1140px;
  height: 775px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 88px auto 0px;
}
.context {
  width: 852px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-bottom: 48px;
}

.iframe {
  width: 1140px;
  height: 614px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
/* Inspiration Section Ends */

/* Target Section Starts */

/* Target Section Ends */
#target {
  margin: 111px auto 0px;
  width: 1140px;
  height: 600px;
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.main2 {
  width: 852px;
  height: 115px;
}

.cardbox {
  width: 1140px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  margin-top: 48px;
}

.cards {
  width: 364px;
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.cardbox h3 {
  width: 284px;
  height: 36px;
  margin-top: 24px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.cardbox p {
  width: 284px;
  height: 52px;
  margin-top: 8px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.cardbox a {
  margin-top: auto;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
.css {
  background: rgba(0, 76, 232, 0.05);
}
.js {
  background: rgba(255, 223, 0, 0.05);
}
/* Support Section Starts */
#support {
  width: 1140px;
  height: 313px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 64px 48px 64px 48px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/handshake.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 16px;

  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
  margin: 111px auto 0px;
}
.sbanner {
  width: 1044px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.sbanner .h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.sbanner .p {
  width: 606px;
  height: 52px;
  opacity: 0.7;
  margin-bottom: 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.form {
  width: 684px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.form .left {
  width: 548px;
  height: 57px;
  padding: 19px 20px 19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  background: rgb(255, 255, 255);
}
.form .submit {
  width: 120px;
  height: 57px;
  padding: 17px 20px 17px 20px;
  border-radius: 8px;

  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}
/* Support Section Ends */
